{% extends 'appShop/base.html'%}
{% load static %}
{% block title %}Agregar Fundaciones{% endblock %}

{% block contenido %}
<div class="container-fluid bg-light bg-opacity-75">
    <br><br>
    <header class="header">
        <h1>Agregar</h1>
    </header>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <hr>
                        <div class="d-flex justify-content-end">
                            <input type="reset" value="cancelar" class="btn btn-secondary">
                            &nbsp;
                            <input type="submit" value="Guardar" class="btn btn-primary">
                        </div>                        
                    </form>
                    {% if mensaje %}
                        <div class="alert alert-info mt-3">{{ mensaje }}</div>
                    {% endif %} 
                </div>
            </div>        
        </div>
    </div>
</div>


{% endblock %}    