{% extends 'appShop/base.html'%}
{% load static %}
{% block title %}Listar Fundaciones{% endblock %}

{% block contenido %}
<div class="container-fluid bg-light bg-opacity-75">
    <br><br>
    <header class="header">
        <h1>listar</h1>
    </header>
    <hr>
    <div class="table-responsive-sm">
        <table class="table table-dark table-hover table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">link</th>
                <th scope="col">Habilitado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
                {% for fundacion in donaciones %}
                <tr>
                    <th scope="row">{{ fundacion.id_foundation }}</th>
                    <td>{{ fundacion.foundations }}</td>
                    <td>{{ fundacion.link }}</td>
                    <td>{{ fundacion.activo }}</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <a class="btn btn-warning btn-sm" href="{% url 'modify_donaciones' fundacion.id_foundation %}" role="button">Modificar</a>
                            &nbsp;
                            <a class="btn btn-danger btn-sm" href="{% url 'delete_donaciones' fundacion.id_foundation %}" role="button">Eliminar</a>
                        </div>       
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>




{% endblock %}    