{% extends 'appShop/base.html'%}
{% load static %}
{% block title %}Home{% endblock %}


{% block contenido %}
<div class="card border-0 shadow my-2">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4500">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{% url 'nosotros' %}"><img id="gif1" src="{% static 'appShop/img/Carrusel/nosotros2.gif' %}" class="d-block w-100" alt="Nosotros"></a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'tienda' %}"><img id="gif2" src="{% static 'appShop/img/Carrusel/tienda.gif' %}" class="d-block w-100" alt="Tienda"></a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'donaciones' %}"><img id="gif3" src="{% static 'appShop/img/Carrusel/donaciones2.gif' %}" class="d-block w-100" alt="Donaciones"></a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'contacto' %}"><img id="gif4" src="{% static 'appShop/img/Carrusel/contacto.gif' %}" class="d-block w-100" alt="Contacto"></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


{% endblock %}    