<header>
    <h1>Productos para Mascotas</h1>
</header>
<div class="container-lg pt-3">
    <div class="row">
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Filtrar por Categoría</h5>
                    <form id="filter-form">
                        {% for categoria in Categorias %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="categoria" value="{{ categoria.category }}" id="categoria-{{ categoria.id_category }}">
                                <label class="form-check-label" for="categoria-{{ categoria.id_category }}">
                                    {{ categoria.category }}
                                </label>
                            </div>
                        {% endfor %}
                        <button id="apply-filter" class="btn btn-primary mt-3">Aplicar Filtro</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" id="product-container">
                {% include 'partials/productos.html' %}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterForm = document.getElementById('filter-form');
        const applyFilterButton = document.getElementById('apply-filter');

        applyFilterButton.addEventListener('click', function (event) {
            event.preventDefault();
            const formData = new FormData(filterForm);
            const categories = [];
            formData.forEach((value, key) => {
                categories.push(value);
            });

            fetch('/tienda/?categoria=' + categories.join(','), {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.text())
            .then(html => {
                document.getElementById('product-container').innerHTML = html;
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>
