{% extends 'appShop/base.html'%}
{% load static %}
{% block title %}Tienda{% endblock %}


{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Filtrar por Categoría</h5>
                    <form id="filter-form" method="get" action="{% url 'tienda' %}">
                        {% for categoria in Categorias %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="categoria" value="{{ categoria.category }}" 
                                id="categoria-{{ categoria.id_category }}" {% if categoria.category in categorias_seleccionadas %}checked{% endif %}>
                                <label class="form-check-label" for="categoria-{{ categoria.id_category }}">
                                    {{ categoria.category }}
                                </label>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary mt-3">Aplicar Filtro</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" id="product-container">
                {% for producto in Productos %}
                    <div class="col-md-4 mb-4">
                        <div class="gallery-item">
                            <img src="{{ producto.image.url }}" alt="{{ producto.products }}" class="img-fluid gallery-img uniform-img" data-description="{{ producto.description }}">
                            <h5>{{ producto.id_category.category | capfirst }}</h5>
                            <h2>{{ producto.products | title }}</h2>
                            <h3>{{ producto.price }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}