
/* Estilos para validación de formularios */
.was-validated .form-control:invalid, .was-validated .form-control:invalid:focus {
  border-color: #dc3545;
  box-shadow: none;
}

.was-validated .form-control:valid, .was-validated .form-control:valid:focus {
  border-color: #28a745;
  box-shadow: none;
}

.form-control:invalid ~ small {
  color: #dc3545;
}

input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.footer {
  text-align: center;
  padding: 10px;
  position: sticky;
  top: 100vh;
  width: 100%;
  color: whitesmoke;
}

body {
  background-image: url("../img/Index/fondo.png");
  background-color:#EDF2F7;
  background-repeat: repeat;
  background-size: 300px 300px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  padding: 20px 0;
  width: 100%;
  color: rgb(0, 0, 146);
  text-emphasis: rgb(246, 3, 3);
}
/*FOOTER*/


form {
  max-width: 400px;
  margin: 50px auto 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#mensajeRegistro {
  text-align: center;
  display: none;
  margin-top: 20px;
}
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-item-f {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Ajusta esta altura según tus necesidades */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  overflow: hidden; /* Oculta cualquier desbordamiento para mantener la proporción */
}
.uniform-img {
  height: 100%;
  width: auto; /* Asegura que la imagen mantenga su proporción */
}