html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.footer {
  text-align: center;
  padding: 10px;
  position: sticky;
  top: 100vh;
  width: 100%;
  color: whitesmoke;
}

body {
  background-image: url("../img/Index/fondo.png");
  background-color:#EDF2F7;
  background-repeat: repeat;
  background-size: 300px 300px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  padding: 20px 0;
  width: 100%;
  color: rgb(0, 0, 146);
  text-emphasis: rgb(246, 3, 3);
}
/*FOOTER*/


#formulario_contacto {
  max-width: 700px;
  width: 600px;
  margin: 50px auto 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.gallery-item-f {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Ajusta esta altura según tus necesidades */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  overflow: hidden; /* Oculta cualquier desbordamiento para mantener la proporción */
}
.uniform-img {
  height: 100%;
  width: auto; /* Asegura que la imagen mantenga su proporción */
}
#col-fundaciones{
  display: flex;
  justify-content: center;
  align-items: center;

}